<% provide(:title, 'All users') %>
<h1>All users</h1>

<table class="users">
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %> </td>
      <td><%= user.email %>
    </tr>
  <% end %>
</table>