<% provide(:title, 'New') %>
<% @action = "Edit" %>
<h1>Edit Subject</h1>
<%= render 'subjects/form' %>

<% if current_user.admin? %>
      <%= link_to "delete", @subject, method: :delete,
                            data: { confirm: "You sure?" } %>
<% end %>