<% provide(:title, 'All Subjects') %>
<h1>All subjects</h1>


<%= form_tag subjects_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%=render 'subjects/index'%>
