.row{
  background:#f1f1f1;
  width:470px;
  margin:0 auto;
  padding-left:50px;
  padding-top:20px;
}

.row input[type="text"] {
  width: 400px;
}
.row input[type="password"] {
  width: 360px;
}
.row label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.row input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.row input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

.row input.bottom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Helvetica;}
.row input.bottom:hover        { background-color: #2a78f6; }


body{
    background-color:#DDE0F4;
    margin:20px auto;
    padding:10px;
    width:966px;
    align:center;
    font-family:helvetica;
    font-size:14px;
    -moz-box-shadow: 0px 0px 5px 5px #788;
    -webkit-box-shadow: 0px 0px 5px 5px #788;
    box-shadow: 0px 0px 10px 10px #2F2E8A;
    }

.sign-out{
    margin-top:30px;
    float:left;
    background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Helvetica;
}


#drop-down-menum{
  width:966px;
  align:center;
  margin:10px auto}
       ul{
                font-weight:bold;color:black;
                margin:0;
                padding:0;
                list-style:none
    }
       ul li{
                display:block;
                position:relative;
                float:left;}
       li ul{display:none}
       ul li a{
                display:block;
                margin-left:none;
                color:#6F2725;                                /* Color letters */
        text-align:center;
                border-right:1px solid #6E91CF;
    border-bottom:1px solid #6E91CF;
    width:160px;
                padding: 5px 0px 5px 0px;
    border-radius:5px;
                background:#99CCFF;/* Color boxes */
                white-space:nowrap}
      ul li a:hover{background:#6B8FB2;color:inherit}
       li:hover ul{
                display:block;
                position:absolute;
                float:left}
       li:hover li{
                font-size:80%;
                clear:left;
                width:absolute;}
        li:hover a{ background:#99CCFF;color:inherit}
        li:hover li a:hover{background:#99CCFF;color:white;}        /* Color while hovering */
        .clear_all{clear:both;height:8px;}



.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }